
  section.bubble {  
    width: 100%;
    transition: ease 0.6s; 
    padding: 150px;
    background-color: #f5d2a7;  
    max-width: 800px;
    max-height: 350px;
    border-radius: 80% 50% 20% 50% / 60% 80% 30% 70%;
    margin: 200px 100px 0px 0px; 
  }
  
  .bubble .intro {
    padding: 80px; 
    margin: 40px 0 60px 0;
  }
  
  