  
  /*layout on smaller screens*/
   /* size screen: 768px and up */
  @media (min-width: 768px){
    .copy {
        padding: 80px;
        margin: 0;
    }
 
  }

 /* size screen: 768px and down */
  @media (max-width: 768px){

    .intro .copy {
        padding: 0;
    }
  }

  /* size screen: 600px and up */

  @media (min-width: 600px){
    .copy br {
        display: none;
    }

  }

 /* size screen: 200px and up*/
  
  @media (min-width: 200px){

    
    .intro {
        padding: 20px;
        min-width: 250px;
        text-align: left;
    }

    .intro .copy {
        margin-top: 180px!important;
    }

    .copy p, .copy h1 {
        margin-bottom: 15px;
    }
      .copy p{
          font-size: 17px;
      }

      .copy h1 {
          font-size: 35px;
      }

      .copy h2 {
          font-size: 25px;
      }

  }