
  section.bubble {  
    width: 100%;
    transition: ease 0.6s; 
    padding: 150px;
    background-color: #f5d2a7;  
    max-width: 800px;
    max-height: 350px;
    border-radius: 80% 50% 20% 50% / 60% 80% 30% 70%;
    margin: 200px 100px 0px 0px; 
  }
  
  .bubble .intro {
    padding: 80px; 
    margin: 40px 0 60px 0;
  }

 
  
  
  /*layout on smaller screens*/
  @media (min-width: 768px){
    .intro br {
        display: none;
    }

  }
  @media (max-width: 768px){

    section.bubble {
        max-width: 200px;
        max-height: 200px;
        margin-top: 200px;
        margin-left: -150px;
        max-width: 400px;
        background-color: #afffdf;
        overflow: none;
    }

    .bubble .intro {
        padding: 0;
    }
  }
  
  @media (min-width: 200px){


      .intro p{
          font-size: 14px;
      }

      .intro h1 {
          font-size: 30px;
          
      }

  }