h1, h2, .copy .text, .card h4, .three h4{
    font-family: 'Poppins', sans-serif;
  }
  h1, h2, .copy .text{
    margin: 0; 
    padding: 0;
  }

  .logo, ol, li a, div#about h3, div#work h3, div#contact h3, nav i, .technologies li p, .copy p, .links a, .email-button, .socials a, footer {
    font-family: 'Fira Code', monospace;
  }

  .logo, ol, li a, nav i, .links a {
    color: #afffdf; 
  }

  h3 {
    margin-top: 100px;
}


.copy h3{
  padding-left: 10px;
}
  

  /* for intro section */

  .intro .copy h1, .copy p, h4 {
      color: #c0c8d4;
  }

  .intro .copy h2, .footer-content{
      color: #c0c8d4d6;
  }

  .intro .copy p,  .copy h3, .copy .number, .links a:hover{
      color: #f5d2a7;
  }

  .intro .copy p, .copy h3, .copy .number{
    display: inline;
    font-weight: lighter; 
}

  /*Work section*/


  .card h4.first, .card h4.third, .card h4.second {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.card h4.first, .card h4.third {
  text-align: right;
}

.card h4.second {
  text-align: left;
}

.card h4.first:before, .card h4.third:before, .card h4.first:after, .card h4.third:after, .card h4.second:before, .card h4.second:after{
    position: absolute;
    top: 51%;
    overflow: hidden;
    height: 1px;
    content: '\a0';
    background-color: #c0c8d4d6;
}

.card h4.first:before, .card h4.third:before {
    text-align: left;
}

.card h4.second:before {
  text-align: right;
}


@media (min-width: 700px){

  .intro h1 {
    font-size: 50px;
  }

  .intro h2 {
    font-size: 30px; 
  }

  /* for intro section */


.intro .copy p, .copy h3, .copy .number{
  font-size: 20px;
}

/* For about section */

.copy .text {
 margin-top: 30px;
 font-size: 17px;
 font-weight: 300;
}

/*Work section*/

.card h4, .three h4{
  font-size: 22px;
}

.card h4.first:before, .card h4.third:before, .card h4.first:after, .card h4.third:after {
  width: 100%;
}

.card h4.second:before, .card h4.second:after {
width: 35%;
}
.card h4.first:before, .card h4.third:before {
  margin-left: -105%;
}

.card h4.second:before {
margin-left: -100%;
}

}

@media (max-width: 700px){



/* for intro section */


.intro .copy p, .copy h3, .copy .number{
  font-size: 17px;
}

/* For about section */


.copy .text {
   margin-top: 20px;
   font-size: 15px;
}

/*Work section*/

.card h4, .three h4{
  font-size: 22px;
}

.card h4.first:before, .card h4.third:before, .card h4.first:after, .card h4.third:after {
  width: 45%;
}

.card h4.second:before, .card h4.second:after {
width: 85%;
}
.card h4.first:before, .card h4.third:before {
  margin-left: -62%;
}

.card h4.second:before {
margin-left: 150%;
}

}

 