h1, h2, .copy .text, .card h4{
    font-family: 'Poppins', sans-serif;
  }
  h1, h2, .copy .text{
    margin: 0; 
    padding: 0;
  }

  .logo, ol, li a, div#about h3, div#work h3, div#contact h3, nav i, .technologies li p, .copy p {
    font-family: 'Fira Code', monospace;
  }

  .logo, ol, li a, h3, div#contact h3, nav i {
    color: #afffdf; 
  }
  

  div h3 {
      margin-top: 100px;
  }


  /* for intro section */

  .intro .copy h1, .copy p, h4 {
      color: #c0c8d4;
  }

  .intro .copy h2 {
      color: #c0c8d4d6;
  }

  .intro .copy p,  .one .copy h3, .one .copy .number, .two .copy .number, .two .copy h3 {
      color: #f5d2a7;
  }

  .intro .copy p, .one .copy h3,  .one .copy .number, .two .copy .number{
    font-size: 17px;
}

  /* For about section */
  .one .copy .number, .one .copy h3, .two .copy .number, .two .copy h3 {
      display: inline;
      font-weight: lighter; 
    }
  .one .copy h3, .two .copy h3{
      padding-left: 10px;
  }

 .copy .text {
     margin-top: 20px;
     font-size: 15px;
  }

  /*Work section*/

  .card h4{
    font-size: 22px;
  }

  .card h4.first, .card h4.third {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: right;
}

.card h4.second {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: left;
}

.card h4.first:before, .card h4.third:before, .card h4.first:after, .card h4.third:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 45%;
    height: 1px;
    content: '\a0';
    background-color: #c0c8d4d6;
}

.card h4.second:before, .card h4.second:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 85%;
  height: 1px;
  content: '\a0';
  background-color: #c0c8d4d6;
}
.card h4.first:before, .card h4.third:before {
    margin-left: -62%;
    text-align: left;
}

.card h4.second:before {
  margin-left: 150%;
  text-align: right;
}


 