h1, h2, p {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding:0; 
    color: #0b1b32; 
  }

  .logo, ol, li a, div#about h3, div#work h3, div#contact h3, nav i, .copy p {
    font-family: 'Fira Code', monospace;
  }

  .logo, ol, li a, div#about h3, div#work h3, div#contact h3, nav i {
    color: #afffdf; 
  }
  
  h1 {
    font-size: 45px; 
    color: #000; 
    font-weight: 900; 
  }

  div h3 {
      margin-top: 100px;
  }


  /* for intro section */

  .copy h1 {
      color: #c0c8d4;
  }

  .copy h2 {
      color: #c0c8d4d6;
  }

  .copy p {
      color: #f5d2a7;
  }