html {
    scroll-behavior: smooth;
  }

  body {
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    margin: 0; 
  }

  body, nav, #myBtn {
    background-color: #0b1b32;
  }

  header, footer{
    grid-column: 1/13; 

  }

  main {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-column: 2/11;  
    justify-content: center;
  }

  footer {
    padding: 50px;
  }
  


  /*layout on smaller screens*/
  @media (min-width: 768px){


    main {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-column: 2/11;  
        justify-content: center;
      }

    }

  @media (min-width: 200px){
    main {
        display: block;
        margin: auto;
    }
  }