 
  nav {
    display: flex; 
    align-items: center;  
    justify-content: space-between; 
    padding: 20px 100px; 
    position: fixed;
    width: 90%;
  }

  nav.scrolled {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .logo, ol, li a:hover, div#about h3, div#work h3, div#contact h3 {
    color: #afffdf; 
    font-family: 'dico code one';
  }
  
  nav img{
    max-width: 60px;
  }

  
  ol {
    list-style: none; 
  }
  
  ol, ol li {
    display: inline-block; 
  }
  
  
  li a{
    color: #f3f3f3; 
    margin: 20px 20px 20px 5px; 
    text-decoration: none; 
    display: block; 
    position: relative; 
  }
  
  li a:hover {
    cursor: pointer; 
  }
  

  /*menu on smaller screens*/

@media (min-width: 768px){
    nav {
    background-color: #0b1b32;
    }
}

@media (max-width: 768px){

    nav {
    padding-left: 0px; 
    width: 100%;
    justify-content: space-between;
  }
    
    nav.scrolled {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }

    ol {
        font-size: 11px;
    }

    .logo {
        max-width: 50px;
    }
  
}

@media (min-width: 200px){
  nav{
    position: fixed; 
    margin-left: -40px; 
  }
}