  
  /*layout on smaller screens*/
   /* size screen: 768px and up */
  @media (min-width: 768px){
    .copy {
        padding: 80px;
        margin: 0;
    }

    .arrow {
        opacity: 0;
    }
    
  }

 /* size screen: 768px and down */
  @media (max-width: 768px){

    .intro .copy {
        padding: 0;
    }
  }

  /* size screen: 600px and up */

  @media (min-width: 600px){
    .copy br {
        display: none;
    }

    .copy h1 {
        font-size: 45px;
    }

    .links a {
        display: inline!important;
        margin-right: 40px!important;
    }

  }

 /* size screen: 200px and up*/
  
  @media (min-width: 200px){

    /*Intro section*/
    .intro, .one, .two, .three {
        padding: 20px;
        min-width: 250px;
        text-align: left;
    }

    .one, .two {
        margin-top: 100px;
    }

    .intro .copy {
        margin-top: 180px!important;

    }

    .copy p, .copy h1 {
        margin-bottom: 15px;
    }


    .copy h1 {
          font-size: 35px;
    }

    .copy h2 {
          font-size: 25px;
    }

    /*About section*/
    
    .technologies img{
        width: 20px;
    }

    .technologies {
        list-style: none;
        display: inline;
        align-items: center;
    }

    .technologies li {
        margin: 10px 0 10px 0;
        padding: 20px 0 20px 30px;
        align-items: center;
    }

    .technologies li p{
        margin-left: 20px;
        display: inline;
    }

    /* work section */

    .card .screenshot {
        background-size: 100%;
        min-width: 250px;
        min-height: 200px;
        opacity: 0.4;
        background-repeat: no-repeat;
    }

    .card .screenshot:hover {
        opacity: 1;
        transition: 0.3s ease-in;
        cursor: pointer;
        transform: scale(1.1);
    }

    .links a {
        padding: 2px 0;
        margin: 20px 0;
        font-size: 10px;
        text-decoration: none;
        border-radius: 5px;
        display: block;
    }

    .links i {
        transform: rotate(-140deg);
        margin-left: 5px;
    }



    /* arrow animation */
    .arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

    .arrow span{
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #afffdf;
    border-right: 1px solid #afffdf;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    }

    .arrow span:nth-child(2){
    animation-delay: -0.4s;
    }

    .arrow span:nth-child(3){
    animation-delay: -0.4s;
    }

    @keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
    }

    /*Contact section*/
    .email, .socials {
        margin-top: 30px;
    }

    .email-button, .socials a {
        background-color: #afffdf;
        padding: 8px 10px;
        border-radius: 5px;
        text-decoration: none;
        color: #0b1b32;
    }

    .email-button:hover, .email-button:active, .socials a:hover, .socials a:active {
        background-color: #f5d2a7;
    }

    .socials i {
        font-size: 20px;
        padding: 0;
        margin: 0;
    }
}