  
  /*layout on smaller screens*/
   /* size screen: 768px and up */
  @media (min-width: 768px){
    .copy {
        padding: 80px;
        margin: 0;
    }

    .arrow {
        opacity: 0;
    }
    
  }

 /* size screen: 768px and down */
  @media (max-width: 768px){

    .intro .copy {
        padding: 0;
    }
  }

  /* size screen: 600px and up */

  @media (min-width: 600px){
    .copy br {
        display: none;
    }

    .copy h1 {
        font-size: 45px;
    }

  }

 /* size screen: 200px and up*/
  
  @media (min-width: 200px){

    
    .intro, .one {
        padding: 20px;
        min-width: 250px;
        text-align: left;
    }

    .one {
        margin-top: 100px;
    }

    .intro .copy {
        margin-top: 180px!important;
    }

    .copy p, .copy h1 {
        margin-bottom: 15px;
    }
    .copy p{
          font-size: 17px;
    }

    .copy h1 {
          font-size: 35px;
    }

      .copy h2 {
          font-size: 25px;
    }
    
    .one span {
        font-size: 30px;
        margin-bottom: 5px;
        color: #0b1b32;
        text-decoration: line-through #afffdf;
    }
    /* arrow animation */
    .arrow{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

    .arrow span{
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #afffdf;
    border-right: 1px solid #afffdf;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    }

    .arrow span:nth-child(2){
    animation-delay: -0.4s;
    }

    .arrow span:nth-child(3){
    animation-delay: -0.4s;
    }

    @keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

  }