.back-to-top {
    position: fixed;
    z-index: 99;
    transition: 0.5s ease-in;
}

#myBtn {
    transition: 0.4s ease-in;
    display: none;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #f5d2a7;
  }

  button i {
    color: #0b1b32;
  }

  @media (min-width: 200px){
    .back-to-top {
      right: 15px;
      bottom: 170px;
    }
    #myBtn {
      padding: 12px 15px;
    }
  }


  
