.back-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 99;
    transition: 0.5s ease-in;
}

#myBtn {
    transition: 0.4s ease-in;
    display: none;
    font-size: 18px;
    border: 0.5px solid #f5d2a7;
    outline: none;
    color: #0b1b32;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }

  button i {
    color: #f5d2a7;
  }


  
